.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  border: 1px solid black;
  display: flex;
  align-items: center;
  width: 300px;
  margin-left: 40%;
  justify-content: space-between;
}

.form-group {
	position: relative !important;
	width: 50%;
}

.form-group .inputText{
	width: 100%;
	outline: none;
	border:none;
}

.form-group .inputText:focus{
	border-color: blue;
	border-width: medium medium 2px;
}

.form-group .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}

.form-group input:focus ~ .floating-label,
.form-group input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}